<%= form_for(@pokerai) do |f| %>
  <% if @pokerai.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pokerai.errors.count, "error") %> prohibited this pokerai from being saved:</h2>

      <ul>
      <% @pokerai.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :投稿者名 %><br>
    <%= f.collection_select :user_id,User.all,:id,:name %>
  </div>
  <div class="field">
    <%= f.label :タイトル %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :ポケモン %><br>
    <%= f.collection_select :pokedex_id,Pokedex.all,:id,:name %>
  </div>
  <div class="field">
    <%= f.label :性格 %><br>
    <%= f.collection_select :per_id,Per.all,:id,:name %>
  </div>
  <div class="field">
    <%= f.label :特性 %><br>
    <%= f.collection_select :cha_id,Cha.all,:id,:name %>
  </div>
  <div class="field">
    <%= f.label :持ち物 %><br>
    <%= f.collection_select :wepon_id,Wepon.all,:id,:name %>
  </div>
  <div class="field">
    <%= f.label :skills, "技" %><br />
    <%= f.fields_for :skills do |skills_form| %>
      <%= skills_form.label :skillname_id, "技" %>
      <%= skills_form.collection_select :skillname_id,Skillname.all,:id,:name %></br>
  <% end %>
  </div>
  <div class="field">
    <%= f.label :説明 %><br>
    <%= f.text_area :ex %>
  </div>
  <div class="actions">
    <%= f.submit :完了%>
  </div>
<% end %>
