<p id="notice"><%= notice %></p>


<h1>育成論</h1>

<table>
  <thead>
    <tr>
      <th>投稿者名</th>
      <th>タイトル</th>
      <th>ポケモン</th>
      <th>性格</th>
      <th>特性</th>
      <th>持ち物</th>
      <th>説明</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pokerais.each do |pokerai| %>
      <tr>
        <td><%= pokerai.user.name %></td>
        <td><%= pokerai.title %></td>
        <td><%= pokerai.pokedex.name %></td>
        <td><%= pokerai.per.name %></td>
        <td><%= pokerai.cha.name %></td>
        <td><%= pokerai.wepon.name %></td>
        <td><%= pokerai.ex %></td>
        <td><%= link_to '説明', pokerai %></td>
        <td><%= link_to '編集', edit_pokerai_path(pokerai) %></td>
        <td><%= link_to '削除', pokerai, method: :delete, data: { confirm: '本当に削除しますか？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新規作成', new_pokerai_path %>
