<div align = "center">

<p id="notice"><%= notice %></p>

<%
unless @com
 @com = Com.new
 @com.pokerai_id = @pokerai.id
end
%>

<h1>
  <strong>タイトル:</strong>
  <%= @pokerai.title %>
</h1>

<p>
  <strong>投稿者名:</strong>
  <%= @pokerai.user.name %>
</p>

<p>
  <strong>ポケモン:</strong>
  <%= @pokerai.pokedex.name %>
</p>

<p>
  <strong>HP:</strong>
  <%= @pokerai.hp %>

  <strong>攻撃:</strong>
  <%= @pokerai.atk %>

  <strong>防御:</strong>
  <%= @pokerai.def %>

  <strong>特功:</strong>
  <%= @pokerai.satk %>

  <strong>特防:</strong>
  <%= @pokerai.sdef %>

  <strong>素早さ:</strong>
  <%= @pokerai.spd %>
</p>

<p>
  <strong>性格:</strong>
  <%= @pokerai.per.name %>
</p>

<p>
  <strong>特性:</strong>
  <%= @pokerai.cha.name %>
</p>

<p>
  <strong>持ち物:</strong>
  <%= @pokerai.wepon.name %>
</p>

<p>
  <strong>説明:</strong>
  <%= @pokerai.ex %>
</p>

<h2>技</h2>
<ul>
<% @pokerai.skillnames.each do |skillname| %>
<li{white-space:nowrap;}>|<%= skillname.name%>|</li>
<% end %>
</ul>


<h2>タグ</h2>
<ul>
<% @pokerai.raistags.each do |raistag| %>
<li><%= raistag.name%></li>
<% end %>
</ul>

<h2>コメント</h2>
<ul>
<% @pokerai.coms.each do |com| %>
<li><%= com.com %></li>
<% end %>
</ul>

<%= form_for(@com) do |f| %>
	<div class="field">
  <%= f.label :com, "新しくコメントをする" %><br />
  	<%= f.label :com%>
  	<%= f.text_area :com %>
    <%= f.hidden_field :pokerai_id %>
	</div>
  <div class="actions">
    <%= f.submit :完了%>
  </div>
<% end %>

<%= link_to '編集', edit_pokerai_path(@pokerai) %> |
<%= link_to 'ホームに戻る', pokerais_path %>
</div>