<div align = "center">

<p id="notice"><%= notice %></p>

<%
unless @com
 @com = Com.new
 @com.pokerai_id = @pokerai.id
end
%>

<%
unless @pokedex
 @pokedex = Pokedex.new
end
%>

<%
unless @raistag
 @raistag = Raistag.new
end
%>




<h1>
  <strong>タイトル:</strong>
  <%= @pokerai.title %>
</h1>

<p>
	<td>投稿者名：<%= link_to @pokerai.user.name,user_path(@pokerai.user_id)%>
</p>


<p>
  <%= image_tag show_image_pokedex_path(@pokerai.pokedex_id) %></br>
  <td><%= link_to @pokerai.pokedex.name,pokedex_path(@pokerai.pokedex_id) %><br>
</p>

<p>
  <strong>HP:</strong>
  <%= @pokerai.hp %>

  <strong>攻撃:</strong>
  <%= @pokerai.atk %>

  <strong>防御:</strong>
  <%= @pokerai.def %>

  <strong>特功:</strong>
  <%= @pokerai.satk %>

  <strong>特防:</strong>
  <%= @pokerai.sdef %>

  <strong>素早さ:</strong>
  <%= @pokerai.spd %>
</p>

<p>
  <strong>性格:</strong>
  <td><%= link_to @pokerai.per.name,per_path(@pokerai.per_id) %><br>
</p>

<p>
  <strong>特性:</strong>
  <td><%= link_to @pokerai.cha.name,cha_path(@pokerai.cha_id) %><br>
</p>

<p>
  <strong>持ち物:</strong>
  <td><%= link_to @pokerai.wepon.name,wepon_path(@pokerai.wepon_id) %><br>
</p>

<p>
  <strong>説明:</strong>
  <%= @pokerai.ex %>
</p>

<h2>技</h2>
<ul>
<% @pokerai.skillnames.each do |skillname| %>
<li{white-space:nowrap;}>|<%= link_to skillname.name,skillname_path(@pokerai.cha_id) %>|</li>
<% end %>
</ul>


<h2>タグ</h2>
<ul>
<% @pokerai.raistags.each do |raistag| %>
<li><%= link_to raistag.name,raistag_path%></li>
<% end %>
</ul>


<h2>コメント</h2>
<ul>
<% @pokerai.coms.each do |com| %>
<li>コメントした人：<%= link_to com.name,user_path(com.user_id) %><br>内容：<%= com.com %><br>日時：[<%= (com.updated_at + 32400).to_s(:db) %>]</li>
<br><br>
<% end %>
</ul>

<%= form_for(@com) do |f| %>
	<div class="field">
  <%= f.label :com, "新しくコメントをする" %><br />
    <%= f.hidden_field :name, :value => session[:usrname] %>
    <%= f.hidden_field :user_id, :value => session[:usr] %>
  	<%= f.label :com%>
  	<%= f.text_area :com %>
    <%= f.hidden_field :pokerai_id %>
	</div>
  <div class="actions">
    <%= f.submit :完了%>
  </div>
<% end %>

<% if "#{session[:usrad]}" ==  "true" %>
<%= link_to '編集', edit_pokerai_path(@pokerai) %> |
 <% end %>

<%= link_to 'ホームに戻る', pokerais_path %>

</div>
