<p id="notice"><%= notice %></p>

<p>
  <strong>投稿者名:</strong>
  <%= @pokerai.user.name %>
</p>

<p>
  <strong>タイトル:</strong>
  <%= @pokerai.title %>
</p>

<p>
  <strong>ポケモン:</strong>
  <%= @pokerai.pokedex.name %>
</p>

<p>
  <strong>性格:</strong>
  <%= @pokerai.per.name %>
</p>

<p>
  <strong>特性:</strong>
  <%= @pokerai.cha.name %>
</p>

<p>
  <strong>持ち物:</strong>
  <%= @pokerai.wepon.name %>
</p>

<p>
  <strong>説明:</strong>
  <%= @pokerai.ex %>
</p>

<h2>技</h2>
<ul>
<% @pokerai.skillnames.each do |skillname| %>
<li><%= skillname.name %></li>
<% end %>
</ul>


<h2>タグ</h2>
<ul>
<% @pokerai.raistags.each do |raistag| %>
<li><%= raistag.name %></li>
<% end %>
</ul>

<h2>コメント</h2>
<ul>
<% @pokerai.coms.each do |com| %>
<li><%= com.com %></li>
<% end %>
</ul>

<%= link_to '編集', edit_pokerai_path(@pokerai) %> |
<%= link_to 'ホームに戻る', pokerais_path %>
