<%= form_for(@party) do |f| %>
  <% if @party.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@party.errors.count, "error") %> prohibited this party from being saved:</h2>

      <ul>
      <% @party.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :pokebuild_id %><br>
    <%= f.number_field :pokebuild_id %>
  </div>
  <div class="field">
    <%= f.label :pokedex_id %><br>
    <%= f.text_field :pokedex_id %>
  </div>
  <div class="field">
    <%= f.label :per_id %><br>
    <%= f.number_field :per_id %>
  </div>
  <div class="field">
    <%= f.label :cha_id %><br>
    <%= f.number_field :cha_id %>
  </div>
  <div class="field">
    <%= f.label :wepon_id %><br>
    <%= f.number_field :wepon_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
