<%= form_for(@party) do |f| %>
  <% if @party.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@party.errors.count, "error") %> prohibited this party from being saved:</h2>

      <ul>
      <% @party.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :構築論ID %><br>
    <%= f.number_field :pokebuild_id %>
  </div>
  <div class="field">
    <%= f.label :図鑑No %><br>
    <%= f.number_field :pokedex_id %>
  </div>
  <div class="field">
    <%= f.label :性格 %><br>
    <%= f.number_field :per_id %>
  </div>
  <div class="field">
    <%= f.label :特性 %><br>
    <%= f.number_field :cha_id %>
  </div>
  <div class="field">
    <%= f.label :持ち物 %><br>
    <%= f.number_field :wepon_id %>
  </div>
  <div class="actions">
    <%= f.submit :完了%>
  </div>
<% end %>
