<p id="notice"><%= notice %></p>

<h1>パーティポケモン</h1>

<%
unless @pokedex
  @pokedex = Pokedex.new
end
%>

<%
unless @pokebuild
  @pokebuild = Pokebuild.new
end
%>


<table>
  <thead>
    <tr>
      <th>構築論ID</th>
      <th>図鑑No</th>
      <th>性格</th>
      <th>特性</th>
      <th>持ち物</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @parties.each do |party| %>
      <tr>
        <td><%= party.pokebuild_id %></td>
        <td><%= party.pokedex_id %></td>
        <td><%= party.per_id %></td>
        <td><%= party.cha_id %></td>
        <td><%= party.wepon_id %></td>
        <td><%= link_to '説明', party %></td>
        <td><%= link_to '編集', edit_party_path(party) %></td>
        <td><%= link_to '削除', party, method: :delete, data: { confirm: '本当に削除しますか？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if "#{session[:usrname]}" == "" %>

<% else %>
<%= link_to '新規作成', new_party_path %>

<% end %>