<p id="notice"><%= notice %></p>

<p>
  <strong>パーティID:</strong>
  <%= @party.pokebuild_id %>
</p>

<p>
  <strong>図鑑No:</strong>
  <%= @party.pokedex_id %>
</p>

<p>
  <strong>性格:</strong>
  <%= @party.per_id %>
</p>

<p>
  <strong>特性:</strong>
  <%= @party.cha_id %>
</p>

<p>
  <strong>持ち物:</strong>
  <%= @party.wepon_id %>
</p>

<%= link_to '編集', edit_party_path(@party) %> |
<%= link_to 'ホームに戻る', parties_path %>
