
<div align = "center">
<h1>Pokehub ～最強になりたい君へ！！～</h1>

<% if rand(10) <= 5 %>
<%= link_to image_tag("TOP.png",{:class => 'img-responsive'} ), pokedexes_path  %>
<% else %>
<% if rand(10) == 1 %>
<%= link_to image_tag("TOP3.png",{:class => 'img-responsive'} ), pokedexes_path  %>
<% else %>
<%= link_to image_tag("TOP2.png",{:class => 'img-responsive'}), pokedexes_path %>
<% end %>
<% end %>
</div>

<hr>

<div class="row">
<div class="col-md-6">
<h2 style = "background-color:red; color:white" >最近投稿された育成論</h2>



<% @pokerais.each do |po| %>

 <Div Align="left"><li style="list-style:none;"><%= image_tag show_image_pokedex_path(po.pokedex_id),{:style => "width: 100px "} %> <%= link_to po.title , po %> <%=  po.updated_at.to_s(:db) %><hr></li></div>
 
  

<% end %>
<%= link_to "もっと見る" , pokerais_path %>
</div>

<div class="col-md-6">
<h2 style = "background-color:blue; color:white" >最近投稿された構築論</h2>

<% @pokebuilds.each do |ke| %>

 <Div Align="left"><li style="list-style:none;"><%= link_to ke.title , ke %> <%=  ke.updated_at.to_s(:db) %><hr></li></div>
<% end %>
<%= link_to "もっと見る" , pokebuilds_path %>
</div>
</div>
