<%= form_for(@pokedex) do |f| %>
  <% if @pokedex.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pokedex.errors.count, "error") %> prohibited this pokedex from being saved:</h2>

      <ul>
      <% @pokedex.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :名前 %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :HP %><br>
    <%= f.number_field :hp %>
  </div>
  <div class="field">
    <%= f.label :攻撃力 %><br>
    <%= f.number_field :atk %>
  </div>
  <div class="field">
    <%= f.label :防御力 %><br>
    <%= f.number_field :def %>
  </div>
  <div class="field">
    <%= f.label :特攻 %><br>
    <%= f.number_field :satk %>
  </div>
  <div class="field">
    <%= f.label :特防 %><br>
    <%= f.number_field :sdef %>
  </div>
  <div class="field">
    <%= f.label :すばやさ %><br>
    <%= f.number_field :spd %>
  </div>
  <div class="field">
    <%= f.label :生態 %><br>
    <%= f.text_area :eco %>
  </div>
  <div class="field">
    <%= f.label :卵グループ %><br>
    <%= f.number_field :egg_id %>
  </div>
  <div class="field">
    <%= f.label :タイプ %><br>
    <%= f.number_field :type_id %>
  </div>
  <div class="field">
    <%= f.label :画像 %><br>
    <%= f.text_field :pic %>
  </div>
  <div class="field">
    <%= f.label :画像データ %><br>
    <%= f.text_field :pic_data %>
  </div>
  <div class="actions">
    <%= f.submit "登録" %>
  </div>
<% end %>
