
<%= require 'uri' %>

<p id="notice"><%= notice %></p>
<% if "#{session[:usrad]}" ==  "true" %>
<%= link_to '新規作成', new_pokedex_path %>
<% end %>

<h1>ポケモン図鑑</h1>

<%= page_entries_info @pokedexes %>

<%= form_tag({:action=>"search"}) do %>
  <%= autocomplete_field_tag "search[name]",'',autocomplete_pokedex_name_pokedexes_path,:class => '',:placeholder => '名前で探す'  %>
  <%= submit_tag "検索" %>
  <%= link_to "リセット", pokedexes_path %>


<% end %>

<table>
  <thead>
    <tr>


      
    </tr>
  </thead>
</table>



  <tbody>
		<div class="row">
    <% @pokedexes.each do |pokedex| %>
        <div class="col-md-4">
        <%=   image_tag("pic.png",{:style => "width: 250px"}) %>
        <div align = "text-bottom">
        <%= link_to pokedex.name , pokedex %>
        </div>
        </div>
	  <% if "#{session[:ad]}" ==  "true"%>
   		   <td><%= link_to '編集', edit_pokedex_path(pokedex) %></td>
    	   <td><%= link_to '削除', pokedex, method: :delete, data: { confirm: '本当に削除しますか？' } %></td>
    <% end %>

    <% end %>
</div>
  </tbody>



<br>


<%= will_paginate @pokedexes %>

