<p id="notice"><%= notice %></p>

<div style="border-style: solid ; border-width: 1px; width: 500px;"">

<tr align="left"valign="top">
  <td><%= image_tag show_image_pokedex_path(@pokedex) %></td>

  <td><strong>HP:</strong>
      <%= @pokedex.hp %>

	  <strong>攻撃力:</strong>
  	<%= @pokedex.atk %>

  	<strong>防御力:</strong>
  	<%= @pokedex.def %>
	
	 	<strong>特攻:</strong>
  	<%= @pokedex.satk %>

  	<strong>特防:</strong>
  	<%= @pokedex.sdef %>

	  <strong>すばやさ:</strong>
  	<%= @pokedex.spd %></td>
	</tr>

<div align="left">
  <strong>名前:</strong>
  <%= @pokedex.name %>
  <%="|"%>
  <strong>タイプ:</strong>
	<%= link_to @pokedex.type.name,type_path(@pokedex.type_id)%></td>
  <%="|"%>
  <strong>卵グループ:</strong>
	<%= link_to @pokedex.egg.name,egg_path(@pokedex.egg_id)%></td>

</div>
<br>
<%= link_to 'このポケモンの構築論' , buildtags_path %>|
<%= link_to 'このポケモンの育成論' , pokerais_path %>|

<%= link_to '編集', edit_pokedex_path(@pokedex) %> |
<%= link_to '戻る', pokedexes_path %>


