<p id="notice"><%= notice %></p>


<p>
  <strong>名前:</strong>
  <%= @pokedex.name %>
</p>

<p>
  <strong>HP:</strong>
  <%= @pokedex.hp %>
</p>

<p>
  <strong>攻撃力:</strong>
  <%= @pokedex.atk %>
</p>

<p>
  <strong>防御力:</strong>
  <%= @pokedex.def %>
</p>

<p>
  <strong>特攻:</strong>
  <%= @pokedex.satk %>
</p>

<p>
  <strong>特防:</strong>
  <%= @pokedex.sdef %>
</p>

<p>
  <strong>すばやさ:</strong>
  <%= @pokedex.spd %>
</p>

<p>
  <strong>特性１:</strong>
  <%= @pokedex.cha1 %>
</p>

<p>
  <strong>特性２:</strong>
  <%= @pokedex.cha2 %>
</p>

<p>
  <strong>夢特性:</strong>
  <%= @pokedex.cha3 %>
</p>

<p>
  <strong>生態:</strong>
  <%= @pokedex.eco %>
</p>

<p>
  <strong>卵グループ:</strong>
  <%= @pokedex.egg.id %>
</p>

<p>
  <strong>タイプ:</strong>
  <%= @pokedex.type.id %>
</p>

<p>
  <strong>画像:</strong>
  <%= @pokedex.pic %>
</p>

<p>
  <strong>画像データ:</strong>
  <%= image_tag show_image_pokedex_path(@pokedex) %>
</p>

<%= link_to '編集', edit_pokedex_path(@pokedex) %> |
<%= link_to '戻る', pokedexes_path %>
