<%= form_for(@raistag) do |f| %>
  <% if @raistag.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@raistag.errors.count, "error") %> prohibited this raistag from being saved:</h2>

      <ul>
      <% @raistag.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :育成論タグ名 %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :育成論ID %><br>
    <%= f.number_field :pokerais_id %>
  </div>
  <div class="actions">
    <%= f.submit "登録" %>
  </div>
<% end %>
