<p id="notice"><%= notice %></p>

<h1>育成論タグ</h1>

<table>
  <thead>
    <tr>
      <th>育成論タグ名</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @raistags.each do |raistag| %>
      <tr>
        <td><%= link_to raistag.name, raistag %></td>
        <td><%= link_to '編集', edit_raistag_path(raistag) %></td>
        <td><%= link_to '削除', raistag, method: :delete, data: { confirm: '削除しますか?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if "#{session[:usrname]}" == "" %>

<% else %>

<%= link_to '新規作成', new_raistag_path %>
<% end %>