<p id="notice"><%= notice %></p>

<h1>Listing Raistags</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Pokerais</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @raistags.each do |raistag| %>
      <tr>
        <td><%= raistag.name %></td>
        <td><%= raistag.pokerais_id %></td>
        <td><%= link_to 'Show', raistag %></td>
        <td><%= link_to 'Edit', edit_raistag_path(raistag) %></td>
        <td><%= link_to 'Destroy', raistag, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Raistag', new_raistag_path %>
