<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @raistag.name %>
</p>

<p>
  <strong>Pokerais:</strong>
  <%= @raistag.pokerais_id %>
</p>

<%= link_to 'Edit', edit_raistag_path(@raistag) %> |
<%= link_to 'Back', raistags_path %>
