<p id="notice"><%= notice %></p>

<p>
  <strong>育成論タグ名:</strong>
  <%= @raistag.name %>
</p>

<p>
  <strong>育成論ID:</strong>
  <%= @raistag.pokerais_id %>
</p>

<%= link_to '編集', edit_raistag_path(@raistag) %> |
<%= link_to '戻る', raistags_path %>
