<%= form_for(@egg) do |f| %>
  <% if @egg.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@egg.errors.count, "error") %> prohibited this egg from being saved:</h2>

      <ul>
      <% @egg.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :卵グループ名 %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit :完了 %>
  </div>
<% end %>
