

<p id="notice"><%= notice %></p>

<h1>卵グループ</h1>

<table>
  <thead>
    <tr>
      <th>卵グループ名</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @eggs.each do |egg| %>
      <tr>
        <td><%= egg.name %></td>
        <td><%= link_to '説明', egg %></td>
        <% if "#{session[:usrad]}" ==  "true" %> 
        <td><%= link_to '編集', edit_egg_path(egg) %></td>
        <td><%= link_to '削除', egg, method: :delete, data: { confirm: '本当に削除しますか？' } %></td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新規作成', new_egg_path %>

