<p id="notice"><%= notice %></p>

<h1>性格</h1>

<table>
  <thead>
    <tr>
      <th>性格名</th>
      <th>上がる能力値</th>
      <th>下がる能力値</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pers.each do |per| %>
      <tr>
        <td><%= per.name %></td>
        <td><%= per.up %></td>
        <td><%= per.down %></td>
        <td><%= link_to '詳細', per %></td>
        <td><%= link_to '編集', edit_per_path(per) %></td>
        <td><%= link_to '削除', per, method: :delete, data: { confirm: '削除しますか?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新規作成', new_per_path %>
