<p id="notice"><%= notice %></p>

<p>
  <strong>性格名:</strong>
  <%= @per.name %>
</p>

<p>
  <strong>上がる能力値:</strong>
  <%= @per.up %>
</p>

<p>
  <strong>下がる能力値:</strong>
  <%= @per.down %>
</p>

<%= link_to '編集', edit_per_path(@per) %> |
<%= link_to '戻る', pers_path %>
