<p id="notice"><%= notice %></p>

<p>
  <strong>タイプ名:</strong>
  <%= @type.name %>
</p>

<h2>このタイプのポケモン</h2>
<% @type.pokedexes.each do |pokedex| %>
 <div class="col-md-1"> 
  <%= image_tag show_image_pokedex_path(pokedex),{:style => "width: 50px"} %>
  <li><%=link_to pokedex.name,pokedex_path%></li>
 </div>
<% end %>

<%= link_to '作成', edit_type_path(@type) %> |
<%= link_to '戻る', types_path %>
