<%= form_for(@buildtag) do |f| %>
  <% if @buildtag.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@buildtag.errors.count, "error") %> prohibited this buildtag from being saved:</h2>

      <ul>
      <% @buildtag.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :構築論タグ名 %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :構築論ID %><br>
    <%= f.number_field :pokebuild_id %>
  </div>
  <div class="actions">
    <%= f.submit :完了 %>
  </div>
<% end %>
