<p id="notice"><%= notice %></p>

<h1>Listing Buildtags</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Pokebuild</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @buildtags.each do |buildtag| %>
      <tr>
        <td><%= buildtag.name %></td>
        <td><%= buildtag.pokebuild_id %></td>
        <td><%= link_to 'Show', buildtag %></td>
        <td><%= link_to 'Edit', edit_buildtag_path(buildtag) %></td>
        <td><%= link_to 'Destroy', buildtag, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Buildtag', new_buildtag_path %>
