<p id="notice"><%= notice %></p>

<h1>構築論タグ</h1>

<table>
  <thead>
    <tr>
      <th>構築論タグ名</th>
      <th>構築論ID</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @buildtags.each do |buildtag| %>
      <tr>
        <td><%= buildtag.name %></td>
        <td><%= buildtag.pokebuild_id %></td>
        <td><%= link_to '説明', buildtag %></td>
        <td><%= link_to '編集', edit_buildtag_path(buildtag) %></td>
        <td><%= link_to '削除', buildtag, method: :delete, data: { confirm: '本当に削除しますか？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if "#{session[:usrname]}" == "" %>

<% else %>

<%= link_to '新規作成', new_buildtag_path %>
<% end %>