<p id="notice"><%= notice %></p>

<p>
  <strong>構築論タグ名:</strong>
  <%= @buildtag.name %>
</p>

<p>
  <strong>構築論ID:</strong>
  <%= @buildtag.pokebuild_id %>
</p>

<%= link_to 'タグの編集', edit_buildtag_path(@buildtag) %> |
<%= link_to 'ホームに戻る', buildtags_path %>
