

<h1>更新</h1>


<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :名前 %><br>
    <%= f.text_field :name %>
  </div>
  
   <div class="field">
    <%= f.label :メールアドレス %><br>
    <%= f.text_field :email %>
  </div>
  
   <div class="field">
    <%= f.label :パスワード %><br>
    <%= password_field :user,:password %>
  </div>
  
    <div class="field">
    <%= f.label :情報公開 %><br>
    <%= f.check_box :info %>
  </div>
 
  <div =class="field">
     <%= f.label :アイコン %><br>
     <%= f.file_field :pic_data, accept: "image/jpeg" %>
  </div>

  <div class="field">
    <%= f.label :自己紹介 %><br>
    <%= f.text_area :profile %>
  </div>
 

<%# if @user.ad == true then %>
  <div class="field">
    <%= f.label :管理者 %><br>
    <%= f.check_box :ad %>
  </div>
<%# end %>
 

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<%= link_to '詳細', @user %> |

<%= link_to '戻る', users_path %>

