<% if "#{session[:usrad]}" ==  "true" %>

<p id="notice"><%= notice %></p>



<h1>投稿者たち</h1>


<table>
  <thead>
    <tr>

      <th>名前</th>
      <th>メールアドレス</th>
      <th>パスワード</th>
      <th>情報公開</th>
      <th>自己紹介</th>
      <th>管理者</th>
      <th>アイコン</th>
      <th>アイコン画像</th>
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>

        <td><%= user.name %></td>
         <td><%= user.email %></td>
        <td><%= "******" %></td>
        <td><%= user.info %></td>
        <td><%= user.profile %></td>
       <td><%= user.ad %></td>
        <td><%= user.pic %></td>
        <td><%= image_tag show_image_user_path(user) %></td>

        <td><%= link_to '詳細', user %></td>
        <td><%= link_to '更新', edit_user_path(user) %></td>
        <td><%= link_to '削除', user, method: :delete, data: { confirm: '本当に削除しますか?' } %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新規作成', new_user_path %>


 <% else %>

<th>管理者じゃないとこのページは表示できないよ！</th>

 <% end %>