<div align = "center">

<%
unless @pokedex
  @pokedex = Pokedex.new
end
%>


<p id="notice"><%= notice %></p>

<p>
  <strong>名前:</strong>
  <%= @user.name %>
</p>

<p>
 <strong>Email:</strong>
 <%= @user.email %>
</p>

<p>
 <strong>Pic:</strong>
 <%= @user.pic %>
</p>

<p>
  <strong>アイコン:</strong>
  <%= image_tag show_image_user_path(@user) %>
</p>

<p>
 <strong>Password:</strong>
 <%= "******" %>
</p>

<p>
 <strong>Info:</strong>
 <%= @user.info %>
</p>

<p>
 <strong>Profile:</strong>
 <%= @user.profile %>
</p>

<p>
 <strong>Ad:</strong>
 <%= @user.ad %>
</p>


<h2>投稿している育成論</h2>
<ul>
<% @user.pokerais.each do |pokerai| %>
	<td><h2><%=link_to pokerai.title,pokerai%></h2></td><br>
	<td><%= image_tag show_image_pokedex_path(pokerai.pokedex_id) %></td>
	<td><%=link_to pokerai.pokedex.name,pokedex_path(pokerai.pokedex_id)%></td><br><br>
<% end %>
</ul>

 |
<%= link_to 'Back', users_path %>
