<% if @user.info == "0" %>

<h1>このユーザーの情報は非公開です<h1>

<% else %>

<div align = "center">

<%
unless @pokedex
  @pokedex = Pokedex.new
end
%>


<p id="notice"><%= notice %></p>

<h2>ユーザー情報</h2>

<p>
  <strong>ユーザー名:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>アイコン:</strong>
  <%= image_tag show_image_user_path(@user) %>
</p>

<% if "#{session[:usrprofile]}" ==  " " %>

<p>
 <strong>自己紹介:</strong>
 <%= @user.profile %>
</p>
<% else %>

<% end %>

<h2>投稿している育成論</h2>


<% @user.pokerais.each do |pokerai| %>
        <div class="col-md-4">
	<td><h2><%=link_to pokerai.title,pokerai%></h2></td><br>
	<td><%= image_tag show_image_pokedex_path(pokerai.pokedex_id) %></td>
	<td><%=link_to pokerai.pokedex.name,pokedex_path(pokerai.pokedex_id)%></td><br><br>
        </div>
<% end %>
<% end %>



