<p id="notice"><%= notice %></p>

<p>
  <strong>育成論ID:</strong>
  <%= @skill.pokerais_id %>
</p>

<p>
  <strong>パーティポケモンID:</strong>
  <%= @skill.party_id %>
</p>

<p>
  <strong>技名:</strong>
  <%= @skill.name %>
</p>

<p>
  <strong>威力:</strong>
  <%= @skill.power %>
</p>

<p>
  <strong>効果:</strong>
  <%= @skill.eff %>
</p>

<%= link_to '編集', edit_skill_path(@skill) %> |
<%= link_to '戻る', skills_path %>
