<p id="notice"><%= notice %></p>

<p>
  <strong>育成論ID:</strong>
  <%= @skill.pokerai.title %>
</p>

<p>
  <strong>パーティポケモンID:</strong>
  <%= @skill.party_id %>
</p>

<p>
  <strong>技名:</strong>
  <%= @skill.skillname.name %>
</p>



<%= link_to '編集', edit_skill_path(@skill) %> |
<%= link_to '戻る', skills_path %>
