<p id="notice"><%= notice %></p>

<p>
  <strong>育成論ID:</strong>
  <%= @skill.pokerais_id %>
</p>

<p>
  <strong>パーティポケモンID:</strong>
  <%= @skill.party_id %>
</p>

<p>
  <strong>技ID:</strong>
  <%= @skill.skillname_id %>
</p>



<%= link_to '編集', edit_skill_path(@skill) %> |
<%= link_to '戻る', skills_path %>
