<p id="notice"><%= notice %></p>

<%
unless @pokedex
 @pokedex = Pokedex.new
end
%>

<%
unless @com
 @com = Com.new
 @com.pokebuild_id = @pokebuild.id
end
%>

<p>
  <strong>タイトル:</strong>
  <%= @pokebuild.title %>
</p>

<p>
  <strong>投稿者名:</strong>
  <%= link_to @pokebuild.user.name,user_path(@pokebuild.user_id) %>
</p>

<h2>パーティポケモン</2>
<ul>
<%= @pokebuild.parties.each do |party| %>

<div class="col-md-4">

<p>
 <%= image_tag show_image_pokedex_path(party.pokedex_id) %></br>
 <li><%= link_to party.pokedex.name,pokedex_path(party.pokedex_id) %></li>
</p>

 <p>
  <strong>HP:</strong>
  <%= party.hp %>
 </p>

 <p>
  <strong>攻撃:</strong>
  <%= party.atk %>
 </p>
 
 <p>
  <strong>防御:</strong>
  <%= party.def %>
 </p>
 
 <p>
  <strong>特功:</strong>
  <%= party.satk %>
 </p>

<p>
 <strong>特防:</strong>
 <%= party.sdef %>
</p>

<p>
 <strong>素早さ:</strong>
 <%= party.spd %>
</p>

<p>
  <strong>性格:</strong>
  <td><%= link_to party.per.name,per_path(party.per_id) %><br>
</p>

<p>
  <strong>特性:</strong>
  <td><%= link_to party.cha.name,cha_path(party.cha_id) %><br>
</p>

<p>
  <strong>持ち物:</strong>
  <td><%= link_to party.wepon.name,wepon_path(party.wepon_id) %><br>
</p>

</div>

<% end %>
</ul>


<p>
  <strong>説明:</strong>
  <%= @pokebuild.ex %>
</p>

<p>
  <strong>構築論タグ名:</strong>
  <%= @pokebuild.buildchecktag_id %>
</p>


<h2>コメント</h2>
<ul>
<% @pokebuild.coms.each do |com| %>
<li>コメントした人：<%= link_to com.name,user_path(com.user_id) %><br>内容：<%= com.com %><br>日時：[<%= (com.updated_at + 32400).to_s(:db) %>]</li>
<br><br>
<% end %>
</ul>

<%= form_for(@com) do |f| %>
	<div class="field">
  <%= f.label :com, "新しくコメントをする" %><br />
    <%= f.hidden_field :name, :value => session[:usrname] %>
    <%= f.hidden_field :user_id, :value => session[:usr] %>
  	<%= f.label :com%>
  	<%= f.text_area :com %>
    <%= f.hidden_field :pokebuild_id %>
	</div>
  <div class="actions">
    <%= f.submit :完了%>
  </div>
<% end %>


<%= link_to '編集', edit_pokebuild_path(@pokebuild) %> |
<%= link_to 'ホームに戻る', pokebuilds_path %>
