<p id="notice"><%= notice %></p>

<h1>Listing Raischecktags</h1>

<table>
  <thead>
    <tr>
      <th>Pokerai</th>
      <th>Raistag</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @raischecktags.each do |raischecktag| %>
      <tr>
        <td><%= raischecktag.pokerai.title %></td>
        <td><%= raischecktag.raistag.name%></div></td>
        <td><%= link_to 'Show', raischecktag %></td>
        <td><%= link_to 'Edit', edit_raischecktag_path(raischecktag) %></td>
        <td><%= link_to 'Destroy', raischecktag, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if "#{session[:usrname]}" == "" %>

<% else %>

<%= link_to 'New Raischecktag', new_raischecktag_path %>
<% end %>