<p id="notice"><%= notice %></p>

<h1>育成論のタグ付け</h1>

<table>
  <thead>
    <tr>
      <th>育成論</th>
      <th>タグ</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @raischecktags.each do |raischecktag| %>
      <tr>
        <td><%= raischecktag.pokerai.title %></td>
        <td><%= raischecktag.raistag.name%></div></td>
        <td><%= link_to '説明', raischecktag %></td>
        <td><%= link_to '編集', edit_raischecktag_path(raischecktag) %></td>
        <td><%= link_to '削除', raischecktag, method: :delete, data: { confirm: '本当に削除しますか？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新しくタグをつける', new_raischecktag_path %>
