<p id="notice"><%= notice %></p>

<p>
  <strong>Pokerai:</strong>
  <%= @raischecktag.pokerai.title %>
</p>

<p>
  <strong>Raistag:</strong>
  <%= @raischecktag.raistag.name %>
</p>

<%= link_to 'Edit', edit_raischecktag_path(@raischecktag) %> |
<%= link_to 'Back', raischecktags_path %>
