<p id="notice"><%= notice %></p>

<h1>持ち物</h1>

<table>
  <thead>
    <tr>
      <th>名前</th>
      <th>効果</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @wepons.each do |wepon| %>
      <tr>
        <td><%= wepon.name %></td>
        <td><%= wepon.eff %></td>
        <td><%= link_to '詳細', wepon %></td>
        <td><%= link_to '編集', edit_wepon_path(wepon) %></td>
        <td><%= link_to '削除', wepon, method: :delete, data: { confirm: '削除しますか?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新規作成', new_wepon_path %>
