<p id="notice"><%= notice %></p>

<p>
  <strong>名前:</strong>
  <%= @wepon.name %>
</p>

<p>
  <strong>効果:</strong>
  <%= @wepon.eff %>
</p>

<%= link_to '編集', edit_wepon_path(@wepon) %> |
<%= link_to '戻る', wepons_path %>
