<p id="notice"><%= notice %></p>

<h1>Listing Cha2s</h1>

<table>
  <thead>
    <tr>
      <th>Cha</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cha2s.each do |cha2| %>
      <tr>
        <td><%= cha2.cha_id %></td>
        <td><%= link_to 'Show', cha2 %></td>
        <td><%= link_to 'Edit', edit_cha2_path(cha2) %></td>
        <td><%= link_to 'Destroy', cha2, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cha2', new_cha2_path %>
