<%= form_for(@cha) do |f| %>
  <% if @cha.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cha.errors.count, "error") %> prohibited this cha from being saved:</h2>

      <ul>
      <% @cha.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :特性名 %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :説明 %><br>
    <%= f.text_area :ex %>
  </div>
  <div class="actions">
    <%= f.submit :完了 %>
  </div>
<% end %>
