<p id="notice"><%= notice %></p>

<h1>特性</h1>

<table>
  <thead>
    <tr>
      <th>特性区分</th>
      <th>図鑑ID</th>
      <th>特性名</th>
      <th>説明</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @chas.each do |cha| %>
      <tr>
        <td><%= cha.kubun %></td>
        <td><%= cha.pokedex_id %></td>
        <td><%= cha.name %></td>
        <td><%= cha.ex %></td>
        <td><%= link_to '説明', cha %></td>
        <td><%= link_to '編集', edit_cha_path(cha) %></td>
        <td><%= link_to '削除', cha, method: :delete, data: { confirm: '本当に削除しますか？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新規作成', new_cha_path %>
