<p id="notice"><%= notice %></p>

<p>
  <strong>特性区分:</strong>
  <%= @cha.kubun %>
</p>

<p>
  <strong>図鑑ID:</strong>
  <%= @cha.pokedex_id %>
</p>

<p>
  <strong>特性名:</strong>
  <%= @cha.name %>
</p>

<p>
  <strong>説明:</strong>
  <%= @cha.ex %>
</p>

<%= link_to '編集', edit_cha_path(@cha) %> |
<%= link_to 'ホームに戻る', chas_path %>
