<%= form_for(@buildchecktag) do |f| %>
  <% if @buildchecktag.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@buildchecktag.errors.count, "error") %> prohibited this buildchecktag from being saved:</h2>

      <ul>
      <% @buildchecktag.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :pokebuild_id %><br>
    <%= f.number_field :pokebuild_id %>
  </div>
  <div class="field">
    <%= f.label :buildtag_id %><br>
    <%= f.number_field :buildtag_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
