<p id="notice"><%= notice %></p>

<h1>コメント</h1>

<table>
  <thead>
    <tr>
      <th>投稿者名</th>
      <th>投稿した日</th>
      <th>コメント</th>
      <th>育成論ID</th>
      <th>構築論ID</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @coms.each do |com| %>
      <tr>
        <td><%= com.name %></td>
        <td><%= com.date %></td>
        <td><%= com.com %></td>
        <td><%= com.pokerai.title %></td>
        <td><%= com.pokebuild_id %></td>
        <td><%= link_to '説明', com %></td>
        <td><%= link_to '編集', edit_com_path(com) %></td>
        <td><%= link_to '削除', com, method: :delete, data: { confirm: '本当に削除しますか？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新規作成', new_com_path %>
