<p id="notice"><%= notice %></p>

<p>
  <strong>投稿者名:</strong>
  <%= @com.name %>
</p>

<p>
  <strong>投稿した日:</strong>
  <%= @com.date %>
</p>

<p>
  <strong>コメント:</strong>
  <%= @com.com %>
</p>

<p>
  <strong>育成論名:</strong>
  <%= @com.pokerai.title %>
</p>

<p>
  <strong>構築論ID:</strong>
  <%= @com.pokebuild_id %>
</p>

<%= link_to '編集', edit_com_path(@com) %> |
<%= link_to 'ホームに戻る', coms_path %>
