<!DOCTYPE html>
<html>

<head>
  <title>Pokemon</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>

<body>


<Ul>
 <li><%= link_to "ポケモン図鑑"    ,pokedexes_path%></li>
 <li><%= link_to "育成論",pokerais_path%></li>
 <li><%= link_to "パーティーポケモン"  ,parties_path%></li>
 <li><%= link_to "育成論タグ",raistags_path%></li>
 <li><%= link_to "構築論タグ"    ,buildtags_path%></li>
 <li><%= link_to "技"  ,skills_path%></li>
 <li><%= link_to "技名"    ,skillnames_path%></li>
 <li><%= link_to "タイプ",types_path%></li>
 <li><%= link_to "持ち物"    ,wepons_path%></li>
 <li><%= link_to "特性"    ,chas_path%></li>
 <li><%= link_to "卵グループ",eggs_path%></li>
 <li><%= link_to "性格",pers_path%></li>
 <li><%= link_to "ユーザー"  ,users_path%></li>
 <li><%= link_to "コメント"  ,coms_path%></li>
<<<<<<< HEAD
 <li><%= link_to "タグ付け",raischecktags_path%></li>
=======
 <li><%= link_to "特性1",cha1s_path%></li>
 <li><%= link_to "特性2",cha2s_path%></li>
 <li><%= link_to "特性3",cha3s_path%></li>
>>>>>>> b89ff16c04b86ee885c160ff0f3b9ac8ad74f4a6

</Ul>


<%= yield %>

</body>
</html>
